{% extends "base.html" %}
{% block pageContent %}
  <body>
    <div class="container-fluid">
      <div class="col-sm-10 pt-2">
        <h2>How to play</h2><br>
        <h4>Pre-Game</h4>
        <p>
          Один игрок выступает в роли дилера. Дилер представлен игроком с кнопкой дилера и перемещается по часовой стрелке каждый раунд.
          Игра начинается с двух принудительных ставок, которые делают два игрока слева от дилера. Они называются малый блайнд (SB) и большой блайнд (BB).
          Ставка SB равна минимальной ставке. Ставка BB в два раза больше ставки малого блайнда. После блайндов игра переходит в стадию ставок.
        </p>
        <br>

        <h4>Play</h4>
        <p>
          После блайндов каждый игрок получает две карты лицевой стороной вниз. Это ваши "карманные" карты. Игра продолжается по часовой стрелке, где каждый игрок, в зависимости от блайнда, может:
        </p>
        <p>
          •	Call - соответствует самой высокой ставке, в данном случае BB. Если самая высокая текущая ставка равна 0, а игрок делает колл, это называется "чек".
        </p>
        <p>
          •	Raise – Игрок может поднять ставку до той суммы, которая осталась на столе.
        </p>
        <p>
          •	Fold – Сбрасывая, игрок решает не продолжать делать ставки и выходит из раунда.
        </p>
        <p> 
          Раунд ставок продолжается до тех пор, пока каждый игрок не поставит в банк равное количество денег или пока в раунде не останется только один игрок. Если игрок делает колл или повышает ставку до всех своих денег, считается, что он пошел " all-in", и создается боковой банк, который содержит банк, равный количеству фишек, поставленных игроком.
          Это означает, что остальные игроки могут продолжать делать ставки между собой, при этом игрок, сделавший all-in, имеет право выиграть фишки только в пределах той суммы, которую он поставил.
          После завершения раунда ставок показываются три общие карты, которые называются "флоп". Общие карты могут быть использованы любым игроком для составления лучшей 5-карточной руки.
          Затем начинается еще один круг ставок, в котором игроки могут сделать колл (или "чек", если ставка не была сделана), повышение (или ставку, если ставка была сделана) или пас. Когда второй круг ставок завершен, показывается четвертая карта, известная как "тёрн".
          Происходит еще один раунд ставок, после чего показывается последняя карта, известная как "ривер", и после последнего раунда ставок, если остается два или более игроков, игра переходит в шоудаун.
        </p>
        <br>

        <h4>Showdown</h4>
        <p>
          Если игрок делает ставку, а все остальные игроки пасуют, он получает банк и не обязан показывать свои карты. Однако если после последнего раунда ставок остается два или более игроков, происходит "шоудаун", в котором первым показывает свою руку последний игрок, сделавший ставку, если только все не чекают, в этом случае первым показывает игрок, сидящий слева от кнопки дилера.
          После того, как первый игрок показал свои карты, игроки должны показать свои карты по часовой стрелке, если они могут побить руку лучшего игрока. В противном случае они могут не показывать карты и "сбросить" свою проигравшую руку, не показывая ее.
          Если у двух игроков одинаковые по силе руки, для разрыва равенства можно использовать "кикеры". Это дополнительные карты, которые не увеличивают ранг руки.
          Например, K-K-10-3-2 выиграет у K-K-9-8-7, даже если они обе являются парами королей, так как 10 выиграет у 9. Если лучшую руку разделяют два или более игроков, банк делится между ними. Если банк не может быть поровну распределен между всеми игроками, то нечетные фишки отдаются победителям, которые играют первыми.
        </p>
      </div>
    </div>
  </body>
{% endblock %}

