<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

{% block pageContent %}
  <h2>Sign up</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}
<script async src='/cdn-cgi/bm/cv/669835187/api.js'></script><script type="text/javascript">(function(){window['__CF$cv$params']={r:'6d9df789f9a77b7b',m:'Bd.ZJQnkGEVBz2e9F75jRcZNuhxVU.IRXG1niveGM24-1644251050-0-AcV3L46DNacN6aKaySXICXwLoYFMwtOG1PNIMW7fwfLSqgwqUQfWuhmaKGJ7gWdEDP3UIgtsxRDzDP1vW8JOr7jFZCoAXQtLWb/2uKGnEZjczfgjoPpjsWfOSdW2i8qp///LUNztxicuPYzPHzEbt3Gx65p5pphelj6AXGe45Bkbx+bwFrKy3ntAZoL33GxeJg==',s:[0xed645c9ad8,0x6e590ccf80],}})();</script>